<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="man" class="com.test03.Man" />
	<bean id="woman" class="com.test03.Woman" />
	<bean id="myAspect" class="com.test03.MyAspect" />
	
	<aop:config>
		<aop:aspect ref="myAspect">
			<!-- 특정 pointcut에서만 작동 -->
			<aop:before method="before" pointcut="execution(public void com.test03.Woman.classWork())"/> <!-- 어떤 join point에 연결될건지 --> <!-- pointcut 인척 proxy 객체가 만들어져 cc 앞 뒤에 붙음 -->
			<aop:after method="after" pointcut="execution(public * *(..))"/>
		</aop:aspect>
	</aop:config>

	

</beans>


